.section-events {
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #111;
  padding: 0 5%;
  margin-bottom: 100px;

  .section-heading {
    text-align: center;
    font-size: 2.8rem;
    padding-top: 40px;
    margin: 0 0 60px;
  }

  .section-content {
    text-align: center;

    .workshop-container {

      .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;

        h2 {
          font-size: 1.75rem;
        }

        p {
          width: 50%;
          font-size: 1.2rem;
          line-height: 1.8;
          margin-top: -5px;
        }
      }
    }

    .divider-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 50px 0 100px;

      .divider {
        width: 220px;
      }
    }
  }

  .illustration-container {

    .illustration {
      width: 300px;
      position: absolute;
      right: 30px;
      bottom: -90px;
    }
  }

  @media only screen and (max-width : 768px) {

    .section-content {
      padding-bottom: 150px;

      .workshop-container {

        .info {

          h2 {
            font-size: 1.5rem;
          }

          p {
            width: 80%;
            font-size: 1.1rem;
          }
        }
      }

      .divider-container {
        margin: 50px 0 90px;

        .divider {
          width: 30%;
        }
      }
    }

    .illustration-container {

      .illustration {
        width: 40%;
      }
    }
  }

  @media only screen and (max-width : 425px) {

    .section-heading {
      font-size: 2.2rem;
    }

    .section-content {
      padding-bottom: 100px;

      .workshop-container {

        .info {

          h2 {
            font-size: 1.35rem;
          }

          p {
            width: 85%;
            font-size: 1rem;
          }
        }
      }

      .divider-container {
        margin: 40px 0 80px;

        .divider {
          width: 40%;
        }
      }
    }

    .illustration-container {

      .illustration {
        width: 50%;
      }
    }
  }
}