.section-acmw-roadAhead {
  height: auto !important;
  padding: 30px 5% 40px !important;

  .section-heading {
    text-align: center;
    font-size: 2.8rem;
    padding-top: 40px;
    margin-top: 0;
  }

  .sub-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -50px 0 15px 0;
    text-align: center;

    h2 {
      width: auto;
      font-size: 1.7rem;
      color: #539dfe;
    }
  }

  .section-content {
    display: flex;
    justify-content: space-around;

    .info {
      width: 500px;
      margin: 10px 0 60px;

      h2 {
        font-size: 2.5rem;
        font-weight: bold;
      }

      p {
        font-size: 1.3rem;
        line-height: 1.65;

        &.text2 {
          margin-top: 15px;
        }
      }
    }

    .illustration-container {
      display: flex;
      align-items: center;

      .illustration {
        width: 350px;
        margin-top: -30px;
      }
    }
  }

  @media only screen and (max-width : 768px) {
    height: auto !important;

    .section-content {
      padding-bottom: 10px;

      .info {
        width: 70%;
        margin-top: 0;
      }

      .illustration-container {

        .illustration {
          width: 550px;
        }
      }
    }
  }

  @media only screen and (max-width : 425px) {

    .section-content {
      padding-bottom: 20px;

      .info-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .info {
          width: 60%;
          text-align: center;

          h2 {
            font-size: 1.4rem;
          }
        }
      }

      .illustration-container {

        .illustration {
          width: 100%;
        }
      }
    }
  }
}