.section-hero {
  display: flex;
  flex-direction: column;
  align-items: center;

  .logo-container {
    width: 550px;
    margin-top: 10px;

    img {
      height: 100%;
      width: 100%;
      transform: scale(1.2);
    }
  }

  .hero-heading {
    padding: 5px !important;
    font-size: 2.3rem !important;
  }

  .hero-icon {
    margin-top: 10px;
    font-size: 2.2rem;
    cursor: pointer;
  }
}