.section-acmw-hero {
  display: flex;
  flex-direction: column;
  align-items: center;

  canvas {
    height: 760px !important;
    top: unset !important;
    opacity: 0.3;
  }

  .logo-container {
    width: 550px;
    margin-top: 40px;

    img {
      height: 100%;
      width: 100%;
    }
  }

  .hero-heading {
    width: 48%;
    font-size: 1.8rem !important;
    font-weight: 600;
    padding: 5px !important;
    margin-top: 20px !important;
  }

  .hero-icon {
    margin-top: 40px;
    font-size: 2.2rem;
    cursor: pointer;
  }

  @media only screen and (max-width: 768px) {
    height: 90vh !important;
    justify-content: center;

    canvas {
      height: 90vh !important;
    }

    .logo-container {
      width: 70%;
      margin: -40px 0 20px;
    }

    .hero-heading {
      width: 70%;
      font-size: 1.75rem !important;
    }
  }

  @media only screen and (max-width: 425px) {
    height: 95vh !important;

    canvas {
      height: 95vh !important;
    }

    .logo-container {
      width: 90%;
    }

    .hero-heading {
      width: 85%;
      font-size: 1.4rem !important;
    }

    .hero-icon {
      margin-top: 30px;
      font-size: 1.8rem;
    }
  }

  &.dark {
    background-color: #292929 !important;

    .hero-icon {
      color: #eee;
    }
  }
}
