.section-acmw-accomplishments {
  height: auto !important;
  padding: 30px 5% 100px !important;

  .section-heading {
    text-align: center;
    font-size: 2.8rem;
    padding-top: 40px;
    margin-top: 0;
  }

  .section-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .info {
      width: 95%;
      display: flex;
      justify-content: space-between;
      margin: 60px 0;

      h2 {
        font-size: 2.5rem;
        font-weight: bold;
      }

      p {
        width: 50%;
        font-size: 1.3rem;
        line-height: 1.75;
      }

      .illustration-container {
        display: flex;
        align-items: center;

        .illustration {
          width: 350px;
        }
      }
    }

    .accomplishments {
      text-align: center;

      .accomplishment {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;

        .title {
          font-size: 1.9rem;
          font-weight: 700;
        }

        .date {
          font-size: 1.45rem;
          font-weight: 500;
          color: #539dfe;
          margin-top: 2px;
        }

        p {
          width: 65%;
          font-size: 1.2rem;
          line-height: 1.8;
          margin-top: 15px;
        }
      }

      .divider-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px 0 100px;

        .divider {
          width: 220px;
        }
      }

      .honorary-mentions {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .accomplishment {
          width: 90%;

          p {
            width: 70%;
          }
        }
      }
    }
  }

  @media only screen and (max-width : 768px) {
    height: auto !important;

    .section-content {
      padding-bottom: 10px;

      .info {
        width: 70%;
        margin-top: 0;
      }

      .illustration-container {

        .illustration {
          width: 550px;
        }
      }
    }
  }

  @media only screen and (max-width : 425px) {

    .section-content {
      padding-bottom: 20px;

      .info-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .info {
          width: 60%;
          text-align: center;

          h2 {
            font-size: 1.4rem;
          }
        }
      }

      .illustration-container {

        .illustration {
          width: 100%;
        }
      }
    }
  }
}