.section-gallery {
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #111;
  padding: 0 5%;
  margin-bottom: 100px;

  .section-heading {
    text-align: center;
    font-size: 2.8rem;
    padding-top: 40px;
    margin: 0 0 60px;
  }

  .section-content {
    text-align: center;

    .workshop-container {

      .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;

        h2 {
          font-size: 1.75rem;
        }

        p {
          width: 50%;
          font-size: 1.2rem;
          line-height: 1.8;
          margin-top: -5px;
        }
      }
    }

    .divider-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 50px 0 100px;

      .divider {
        width: 220px;
      }
    }
  }

  .illustration-container {

    .illustration {
      width: 300px;
      position: absolute;
      right: 30px;
      bottom: -90px;
    }
  }
}